.snacks {
    &-container {
        margin-top: 70px;
    }
    &__title {
        font-family: "Inter Bold";
        font-size: 45px;
        text-align: center;
        color: white;
        margin: 0;
        @media (max-width: 1400px) {
            font-size: 35px;
        }
        @media (max-width: 1220px) {
            font-size: 30px;
        }
        @media (max-width: 650px) {
            font-size: 25px;
        }
    }
    &-blocks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        @media (max-width: 1400px) {
            justify-content: space-around;
        }
        &__image {
            width: 630px;
            height: 630px;
            @media (max-width: 1400px) {
                width: 500px;
                height: 470px;
            }
            @media (max-width: 1220px) {
                width: 400px;
                height: 365px;
            }
            @media (max-width: 1150px) {
                display: none;
            }
        }
    }
    &-block {
        @media (max-width: 1150px) {
            text-align: center;
        }
        &__item {
            display: flex;
            justify-content: space-between;
            margin-top: 25px;
        }
        &__information {
            font-size: 27px;
            font-family: "Inter Bold";
            color: white;
            @media (max-width: 1400px) {
                font-size: 23px;
            }
            @media (max-width: 1220px) {
                font-size: 20px;
            }
        }
        &-wrapper {
            &__price {
                text-align: right;
                font-size: 30px;
                font-family: "Inter Bold";
                color: white;
                margin-top: 5px;
                @media (max-width: 1400px) {
                    font-size: 25px;
                }
                @media (max-width: 1220px) {
                    font-size: 20px;
                }
            }
            &__button {
                margin-top: 35px;
                @media (max-width: 1400px) {
                    margin-top: 15px;
                }
            }
        }
    }
}