.combo {
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 0px;
        @media (max-width: 1400px) {
            justify-content: space-around;
        }
        @media (max-width: 1150px) {
            text-align: center;
        }
    }
    &__image {
        width: 630px;
        height: 630px;
        @media (max-width: 1400px) {
            width: 500px;
            height: 500px;
        }
        @media (max-width: 1220px) {
            width: 400px;
            height: 400px;
        }
        @media (max-width: 1150px) {
            display: none;
        }
    }
    &__title {
        font-family: "Inter Bold";
        font-size: 45px;
        text-align: center;
        color: white;
        margin: 0;
        @media (max-width: 1400px) {
            font-size: 30px;
        }
        @media (max-width: 1220px) {
            font-size: 25px;
        }
        @media (max-width: 650px) {
            font-size: 20px;
        }
    }
    &__name {
        font-size: 25px;
        font-family: "Inter Bold";
        color: white;
        margin-top: 15px;
        @media (max-width: 1220px) {
            font-size: 20px;
        }
    }
    &__price {
        font-size: 30px;
        font-family: "Inter Bold";
        color: white;
        margin-top: 15px;
        @media (max-width: 1400px) {
            font-size: 25px;
        }
        @media (max-width: 1220px) {
            font-size: 20px;
        }
    }
    &__button {
        margin-top: 15px;
    }
}